
label, input {
    display: block;
}
span.helptext {
    display: none;
}

body {
font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 16px; line-height: 1.5; color: #24292e; background-color: #fff;
}


nav {
    font-family: 'Roboto', sans-serif; font-size: 16px; ;
}
   